* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*terminareset*/
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  background: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
}

.navbar {
  border-bottom: 1px solid rgb(42, 42, 42);
}
.navbar div h1 a {
  font-size: 100%;
}
.navbar div #formSearch #inputSearch {
  border: none;
  border-bottom: 3px solid rgb(186, 171, 143);
  font-size: 17px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
.navbar div #formSearch #inputSearch:focus {
  border-color: rgb(186, 171, 143);
  box-shadow: 0 0 8px rgb(186, 171, 143);
  color: rgb(255, 255, 255);
}
.navbar div #formSearch .buttonSearch {
  color: rgb(250, 247, 247);
  border: none;
  font-size: 1.15rem;
}
.navbar div #formSearch .buttonSearch:hover {
  color: rgb(169, 160, 117);
  background-color: rgba(0, 0, 0, 0);
}

#boxMsges {
  border-radius: 5px;
  background: linear-gradient(45deg, rgb(107, 107, 108), rgb(91, 97, 70), rgb(45, 45, 61));
  padding: 1rem;
  width: 78vw;
  margin-left: 1.25rem;
  box-shadow: 2px 2px 7px 5px rgb(5, 5, 5);
  position: relative;
}
@media screen and (min-width: 360px) {
  #boxMsges {
    width: 95%;
    margin: auto;
  }
}
#boxMsges .user {
  font-weight: bold;
  color: rgb(142, 182, 176);
  margin-bottom: 2px;
  font-size: 1rem;
}
#boxMsges .mensaje {
  font-style: italic;
  color: rgb(10, 10, 10);
  font-size: 1.2rem;
}
#boxMsges .hora {
  color: maroon;
  padding-bottom: 7px;
  margin-left: 10px;
  font-size: 0.75rem;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  padding: 2rem;
}
form #inputEmail {
  margin-right: 75vw;
  margin-bottom: 2rem;
}
form #inputMsg {
  padding-left: 1rem;
  padding-top: 0.5rem;
  border: none;
  border-radius: 7px;
  width: 35vw;
  background-color: rgba(174, 166, 154, 0.447);
}
form .containerBtonChat {
  display: flex;
  flex-direction: row-reverse;
}
form .containerBtonChat .bEnv {
  border: none;
  border-radius: 7px;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
  position: relative;
}
form .containerBtonChat .bEnv::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 94%;
  height: 90%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 500%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}
@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    display: none;
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#acceso {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 2.5vw;
  top: 1rem;
  width: 95vw;
  opacity: 100;
  animation-name: desaparece;
  animation-duration: 10s;
  animation-delay: 1s;
  color: rgb(169, 160, 117);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  background-color: rgba(29, 36, 38, 0.794);
  height: 130vh;
}
#acceso h1 {
  font-size: 5.5rem;
}
@media screen and (min-width: 992px) {
  #acceso h1 {
    font-size: 5.5rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 992px) {
  #acceso {
    padding: 3rem;
    height: 182vh;
  }
}
#acceso label {
  padding-top: 6rem;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  #acceso label {
    font-size: 2rem;
    padding: 7rem 0rem 7.5rem 0rem;
  }
}
#acceso input {
  border: none;
  border-radius: 7px;
  height: 2rem;
  width: 7rem;
  box-shadow: 1px 1px 2px 1px;
  background-color: rgb(54, 55, 55);
  padding-left: 35px;
}
@media screen and (min-width: 992px) {
  #acceso input {
    height: 2rem;
    width: 8rem;
    margin: 0.25rem;
  }
}
#acceso button {
  border-radius: 9px;
  margin: 0.75rem;
  position: relative;
  border: none;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  font-size: 0.95rem;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
#acceso button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 94%;
  height: 90%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 500%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}

#anuncioEntrada {
  border-radius: 2%;
  padding: 1rem;
  position: absolute;
  display: flex;
  left: 10vw;
  width: 80vw;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrrKQ77TBs8h_5HifeFI8mHku96PdvYi3aJ4u3qf3XPP4WP_KRtJMPeKUQCTz3QwcIi5c&usqp=CAU);
  background-size: contain;
  opacity: 0;
  animation-name: desaparecer;
  animation-duration: 7s;
  animation-delay: 0.5s;
  font-size: 1.25rem;
  color: rgb(255, 219, 136);
  font-family: "Trebuchet MS";
  font-weight: 400;
  margin: auto;
}

@keyframes desaparecer {
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes desaparecer {
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
#interfaceRenderItems {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (min-width: 360px) {
  #interfaceRenderItems {
    width: 95vw;
  }
}
@media screen and (min-width: 576px) {
  #interfaceRenderItems {
    width: 85vw;
  }
}
@media screen and (min-width: 992px) {
  #interfaceRenderItems {
    width: 80vw;
  }
}
#interfaceRenderItems #cardOneItem {
  box-shadow: 1px 1px 3px 3px rgb(26, 26, 26);
  border-radius: 10px;
  text-align: center;
}
@media screen and (min-width: 360px) {
  #interfaceRenderItems #cardOneItem {
    width: 47%;
  }
}
@media screen and (min-width: 576px) {
  #interfaceRenderItems #cardOneItem {
    width: 28%;
  }
}
@media screen and (min-width: 992px) {
  #interfaceRenderItems #cardOneItem {
    width: 30%;
  }
}
#interfaceRenderItems #cardOneItem p {
  margin: 6px;
}
@media screen and (min-width: 360px) {
  #interfaceRenderItems #cardOneItem p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  #interfaceRenderItems #cardOneItem p {
    font-size: 1.15rem;
  }
}
#interfaceRenderItems #cardOneItem img {
  padding: 1px;
}
@media screen and (min-width: 360px) {
  #interfaceRenderItems #cardOneItem img {
    width: 70%;
    height: 8rem;
  }
}
@media screen and (min-width: 992px) {
  #interfaceRenderItems #cardOneItem img {
    width: 55%;
    height: 12rem;
  }
}
#interfaceRenderItems #cardOneItem .butonsItem {
  display: flex;
  flex-direction: column;
}
#interfaceRenderItems #cardOneItem .butonsItem span {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  #interfaceRenderItems #cardOneItem .butonsItem span {
    font-size: 1.25rem;
  }
}
#interfaceRenderItems #cardOneItem .butonsItem span a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.imgchat {
  width: 3.5rem;
}

.butomCrearCuenta div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5.5rem;
}
.butomCrearCuenta div a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: double 0.5rem #baab8f;
  margin-right: 5.5rem;
}
.butomCrearCuenta div a:hover {
  color: rgb(169, 160, 117);
}

.titleLogin div h1 {
  border-top: double 0.5rem #baab8f;
  font-size: 1.75rem;
}

.vistaPerfil div h3 {
  text-align: left;
}
.vistaPerfil div img {
  padding: 0.75rem;
  width: 12.7rem;
  height: 12.7rem;
}
.vistaPerfil .botonOut {
  margin: 0.25rem;
}
.vistaPerfil .botonOut a {
  margin-left: 51%;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.4rem;
  color: aliceblue;
  border-bottom: double 0.5rem #baab8f;
}
.vistaPerfil .botonOut a:hover {
  color: #a9a075;
}

.totalCarrito {
  margin-bottom: 2rem;
}
@media screen and (min-width: 360px) {
  .totalCarrito {
    margin-left: 2%;
  }
}
@media screen and (min-width: 992px) {
  .totalCarrito {
    margin-left: auto;
  }
}
@media screen and (min-width: 576px) {
  .totalCarrito {
    margin-left: 25%;
  }
}
@media screen and (min-width: 992px) {
  .totalCarrito {
    margin-left: 59%;
  }
}
.totalCarrito ul {
  display: flex;
  flex-direction: row;
}
.totalCarrito ul li {
  list-style: none;
}
.totalCarrito ul li p {
  border-top: double 0.5rem #baab8f;
  padding: 0.25rem;
  width: 100%;
}
.totalCarrito ul li a {
  margin-left: 5.75rem;
  text-decoration: none;
  padding: 0.65rem;
  border-radius: 15%;
  color: #ffffff;
  background-color: rgb(14, 14, 14);
}
.totalCarrito ul li a:hover {
  color: #a9a075;
}

.logoVerCarrito ul {
  display: flex;
  justify-content: space-around;
}
.logoVerCarrito ul li {
  list-style: none;
}
.logoVerCarrito ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(240, 248, 255);
  padding: 0.25rem;
}
.logoVerCarrito ul li a:hover {
  color: rgb(169, 160, 117);
}
.logoVerCarrito ul li button {
  display: inline-block;
  font-size: 1.15rem;
  border-radius: 7%;
  padding: 0.15rem;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
  border: none;
}
.logoVerCarrito ul li button:hover {
  color: #a9a075;
}

#renderCantItems {
  background-color: rgba(42, 42, 42, 0.937);
  position: fixed;
  border-radius: 5px;
}
@media screen and (min-width: 360px) {
  #renderCantItems {
    width: 90%;
  }
}
@media screen and (min-width: 576px) {
  #renderCantItems {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  #renderCantItems {
    width: 30%;
  }
}
#renderCantItems div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#renderCantItems div input {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 18%;
  border: none;
  border-radius: 5px;
  background-color: rgb(54, 55, 55);
  border-bottom: 1px solid rgb(186, 171, 143);
}
#renderCantItems div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#renderCantItems div input[type=number] {
  -moz-appearance: textfield;
}
#renderCantItems div input:focus {
  border-color: rgb(186, 171, 143);
  box-shadow: 0 0 8px rgb(186, 171, 143);
  color: rgb(255, 255, 255);
}
#renderCantItems div h3 {
  padding: 0.5rem;
}
#renderCantItems .containerButtonLoggin .butonLogin {
  margin: 1rem;
  position: relative;
  border: none;
  border-radius: 9px;
  line-height: 1;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  font-size: 0.95rem;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
#renderCantItems .containerButtonLoggin .butonLogin::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 94%;
  height: 90%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 500%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}

#contenedorForOrder {
  padding: 2rem;
  margin-top: 2.75rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: double 0.5rem rgb(187, 172, 144);
}

.formNewProduct {
  width: 90%;
  margin: auto;
}
.formNewProduct div input {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px;
  background-color: rgb(54, 55, 55);
  padding-left: 7px;
}
.formNewProduct .containerButtonUpdate .buttonUpdateProduct {
  margin: auto;
  position: relative;
  border: none;
  border-radius: 9px;
  line-height: 1;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  font-size: 0.95rem;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
.formNewProduct .containerButtonUpdate .buttonUpdateProduct::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 94%;
  height: 90%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 500%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}

.pageFormCreateAccount {
  margin: auto;
  width: 90%;
}

#formLogin .inputsFormUserPass input {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px;
  background-color: rgb(54, 55, 55);
  padding-left: 7px;
}
#formLogin .containerButtonLoggin .butonLogin {
  margin: auto;
  position: relative;
  border: none;
  border-radius: 9px;
  line-height: 1;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  font-size: 0.95rem;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
#formLogin .containerButtonLoggin .butonLogin::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 94%;
  height: 90%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 500%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}

#formCreateAccount div input {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px;
  background-color: rgb(54, 55, 55);
  padding-left: 7px;
}
#formCreateAccount #containerButtonCreateAccount #buttonCretaAccount {
  margin: auto;
  position: relative;
  border: none;
  line-height: 1;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  font-size: 0.95rem;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
#formCreateAccount #containerButtonCreateAccount #buttonCretaAccount::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 94%;
  height: 90%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 500%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}

#footer {
  border-top: double 0.5rem rgb(186, 171, 143);
}

.imgGitHubFooter {
  filter: invert(75%);
}/*# sourceMappingURL=estilos.css.map */