* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*terminareset*/
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  background: rgb(14, 14, 14);
  color: white;
}

.navbar div h1 a {
  font-size: 100%;
}
#boxMsges {
  border-radius: 5px;
  background-color: rgba(132, 135, 107, 0.437);
  padding: 1rem;
  width: 78vw;
  margin-left: 1.25rem;
  box-shadow: 2px 2px 7px 5px rgb(5, 5, 5);
  position: relative;
}
@media screen and (min-width: 360px) {
  #boxMsges {
    width: 95%;
    margin: auto;
  }
}
#boxMsges .user {
  font-weight: bold;
  color: rgb(142, 182, 176);
  margin-bottom: 2px;
  font-size: 1rem;
}
#boxMsges .mensaje {
  font-style: italic;
  color: rgb(10, 10, 10);
  font-size: 1.2rem;
}
#boxMsges .hora {
  color: maroon;
  padding-bottom: 7px;
  margin-left: 10px;
  font-size: 0.75rem;
}

#boxMsges::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(45, 45, 61), rgb(71, 50, 50), rgb(91, 97, 70), rgb(12, 12, 18), black);
  background-size: 400%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow s ease-in infinite;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  padding: 2rem;
}
form #inputEmail {
  margin-right: 75vw;
  margin-bottom: 2rem;
}
form #inputMsg {
  border: none;
  border-radius: 7px;
  width: 35vw;
  background-color: rgb(226, 213, 195);
}
form .containerBtonChat {
  display: flex;
  flex-direction: row-reverse;
}
form .containerBtonChat .bEnv {
  border-radius: 7px;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  height: 40px;
  width: 75px;
  background: rgb(0, 0, 0);
  color: rgb(189, 242, 226);
  position: relative;
}
form .containerBtonChat .bEnv::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(40, 232, 203), blue, rgb(255, 105, 185), blue, black, rgb(21, 229, 226), blue, rgb(129, 58, 250), blue, black);
  background-size: 400%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glow 20s linear infinite;
}
@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    display: none;
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#acceso {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 2.5vw;
  top: 1rem;
  width: 95vw;
  opacity: 100;
  animation-name: desaparece;
  animation-duration: 10s;
  animation-delay: 1s;
  color: rgb(255, 219, 136);
  font-family: "Trebuchet MS";
  font-weight: 400;
  background-color: rgba(38, 51, 51, 0.875);
  height: 130vh;
}
#acceso h1 {
  font-size: 5.5rem;
}
@media screen and (min-width: 992px) {
  #acceso h1 {
    font-size: 5.5rem;
    padding: 5rem;
  }
}
@media screen and (min-width: 992px) {
  #acceso {
    background-color: rgba(38, 51, 51, 0.875);
    padding: 3rem;
    height: 182vh;
  }
}
#acceso label {
  padding-top: 15rem;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  #acceso label {
    font-size: 2rem;
    padding: 10rem 0rem 7.5rem 0rem;
  }
}
#acceso input {
  height: 2rem;
  border-radius: 5%;
  width: 7rem;
}
@media screen and (min-width: 992px) {
  #acceso input {
    height: 2rem;
    border-radius: 5%;
    width: 8rem;
    margin: 0.25rem;
  }
}
#acceso button {
  border-radius: 5%;
  height: 2rem;
  width: 5rem;
  margin: 0.75rem;
}

#anuncioEntrada {
  border-radius: 2%;
  padding: 1rem;
  position: absolute;
  display: flex;
  left: 10vw;
  width: 80vw;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrrKQ77TBs8h_5HifeFI8mHku96PdvYi3aJ4u3qf3XPP4WP_KRtJMPeKUQCTz3QwcIi5c&usqp=CAU);
  background-size: contain;
  opacity: 0;
  animation-name: desaparecer;
  animation-duration: 7s;
  animation-delay: 0.5s;
  font-size: 1.25rem;
  color: rgb(255, 219, 136);
  font-family: "Trebuchet MS";
  font-weight: 400;
  margin: auto;
}

@keyframes desaparecer {
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes desaparecer {
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
#probandoAct {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#probandoAct div {
  text-align: center;
}
#probandoAct div p {
  font-size: 1.25rem;
}
#probandoAct div img {
  width: 14rem;
  height: 14rem;
}
#probandoAct div span {
  cursor: pointer;
}

.imgchat {
  width: 3.5rem;
}

.butomCrearCuenta div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5.5rem;
}
.butomCrearCuenta div a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: double 0.5rem #baab8f;
  margin-right: 5.5rem;
}
.butomCrearCuenta div a:hover {
  color: #a9a075;
}

.titleLogin div h1 {
  border-top: double 0.5rem #baab8f;
  font-size: 1.75rem;
}

.vistaPerfil div h3 {
  text-align: left;
}
.vistaPerfil div img {
  padding: 0.75rem;
  width: 12.7rem;
  height: 12.7rem;
}
.vistaPerfil .botonOut {
  margin: 0.25rem;
}
.vistaPerfil .botonOut a {
  margin-left: 51%;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.4rem;
  color: aliceblue;
  border-bottom: double 0.5rem #baab8f;
}
.vistaPerfil .botonOut a:hover {
  color: #a9a075;
}

#footer {
  border-top: double 0.5rem #baab8f;
}

.totalCarrito {
  margin-bottom: 2rem;
}
@media screen and (min-width: 360px) {
  .totalCarrito {
    margin-left: 2%;
  }
}
@media screen and (min-width: 992px) {
  .totalCarrito {
    margin-left: auto;
  }
}
@media screen and (min-width: 576px) {
  .totalCarrito {
    margin-left: 25%;
  }
}
@media screen and (min-width: 992px) {
  .totalCarrito {
    margin-left: 59%;
  }
}
.totalCarrito ul {
  display: flex;
  flex-direction: row;
}
.totalCarrito ul li {
  list-style: none;
}
.totalCarrito ul li p {
  border-top: double 0.5rem #baab8f;
  padding: 0.25rem;
  width: 100%;
}
.totalCarrito ul li a {
  margin-left: 5.75rem;
  text-decoration: none;
  padding: 0.65rem;
  border-radius: 15%;
  color: #ffffff;
  background-color: rgb(14, 14, 14);
}
.totalCarrito ul li a:hover {
  color: #a9a075;
}

.logoVerCarrito ul {
  display: flex;
  justify-content: space-around;
}
.logoVerCarrito ul li {
  list-style: none;
}
.logoVerCarrito ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  padding: 0.25rem;
}
.logoVerCarrito ul li a:hover {
  color: #a9a075;
}
.logoVerCarrito ul li button {
  display: inline-block;
  font-size: 1.15rem;
  border-radius: 7%;
  padding: 0.15rem;
  color: #ffffff;
  background-color: rgb(41, 41, 41);
  border: none;
}
.logoVerCarrito ul li button:hover {
  color: #a9a075;
}

#renderCantItems {
  background-color: #a9a075;
  position: fixed;
  border-radius: 3%;
}
#renderCantItems h3 {
  padding: 2rem;
}

#contenedorForOrder {
  padding: 2rem;
  margin-top: 2.75rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: double 0.5rem #baab8f;
}

#footer {
  border-top: double 0.5rem #baab8f;
}/*# sourceMappingURL=estilos.css.map */