<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-dark text-white">
    <%- include('../partials/navbar'); %>
    <div class="container-fluid d-flex">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2 class="ps-5 ms-5">Bienvenido a esta gran Vinateria</h2>
        </div>
        <div class="col-lg-5">
          <img class="img-fluid w-100 p-2" src="<%=imagen%>" alt="Jack Daniels" />
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
